@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
body,
html {
    @apply h-full bg-slate-900 text-white;
    --scrollbar-bg: rgba(0,0,0,0);
    --scrollbar-btn: #475569;
    --scrollbar-btn-active: #64748b;
    --scrollbar-btn-hover: var(--scrollbar-btn-active);
    font-size: 16px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.messages-container {
    scrollbar-color: var(--scrollbar-btn) var(--scrollbar-bg);
}

::-webkit-scrollbar {
    width: 6px;
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-btn-active);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-btn-hover);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-btn);
    @apply rounded-lg;
}

@layer utilities {
    .overflow-wrap-anywhere {
        overflow-wrap: anywhere;
    }
}
